<%- include('../../partials/header_gram') %>

<div class="content content-black">


    <div class="vocab_titre" >   
        <h2><%= title %></h2>
        <a href="/grammaire" class="vocab_href">Retour</a>
    </div>

    <!-- <h2 class="gram-regles-h2">Règles de grammaire</h2> -->
    				
	<form action="/kanji_dico/search" method="POST" class="search-form">
        <input type="text" name="searchTerm" value="<%= searchTerm %>" placeholder="Rechercher une règle">
        <button type="submit">Rechercher</button>
    </form>
	
	<% if (results && results.length > 0) { %>
        <%# On crée une variable pour plus de clarté %>
        <% const regleDetails = results[0]; %>
	 
		<div class="gram-regle">
			<h4>Nom</h4>
			<p><%= results[0].nom || 'N/A' %></p>
		</div>
		
		<div class="gram-regle">
			<h4>Description</h4>
			<p><%= results[0].description || 'N/A' %></p>
		</div>
		
		<div class="gram-regle">
			<h4>Contruction</h4>
			<p><%= results[0].construction || 'N/A' %></p>
		</div>
		
		<div class="gram-regle">
			<h4>Exemples</h4>
			<p><%= results[0].exemple || 'N/A' %></p>
		</div>
	 
	<% } %>
</div>

<%- include('../../partials/footer') %>  