<%- include('../../partials/header_blog_tech') %>
<div  class="content content-black">
    <h2 class="blog_h2" ><%= title %></h2>

    <p class="texte-clignotant">
      <br>Cliquer sur une ligne pour avoir des détails<br>
    </p>
    <br>

<% if ( listeArticles && listeArticles.length > 0) { %> 
    
    <% listeArticles.forEach((article, index) => { %> 
    
        <div class="blog_article"> 
            
            <!-- Déterminer la classe à ajouter en fonction de l'index -->
            <%  const alternateClass = (index % 2 === 0) ? 'blog_article_entete_even' : 'blog_article_entete_odd';     %>
            <div class="blog_article_entete article-tech-toggle <%= alternateClass %>" data-target-id="content-<%= index %>"> 

                <h3 class="blog_h3" data-target-id="content-<%= index %>" >
                    <%= article.type %>         <%= article.titre %>
                </h3>
            </div>
            
            <div class="blog_contenus_container bloc_tech_hidden" id="content-<%= index %>"> 
            
                <div class="blog_contenu">
                    <p> <%= article.contenu %> </p>
                    <br>
                    <% if (article.image) { %>
                        <img class="zoom-image-blog-tech" 
                            src="/images/note_tech/<%= article.image %>" 
                            alt="Image pour l'article" 
                            >
                    <% } %>
                    <br>
                    <% if (article.fichier) { %>
                        <button class="btn-open-file" data-fichier="<%= article.fichier %>">
                            Ouvrir le fichier: <%= article.fichier %>
                        </button>
                    <% } %>
                                        
                </div>      
            </div>

        </div> 
    <% }); %>
    
</div>
<% } else { %>
    <p>Aucun article trouvé.</p>
<% } %>


<%- include('../../partials/footer') %>



